
@import url('https://fonts.googleapis.com/css?family=Fresca|Open+Sans');

html, body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Fresca', sans-serif;
}

h1.title {
  font-weight: bold;
}

h3 {
  font-size: 1.3rem;
}

.navbar {
  font-family: 'Fresca', sans-serif;
  font-size: 1.3rem;
}

h1.title {
  font-size: 1.5rem;
}
