
@import url('https://fonts.googleapis.com/css?family=Fresca|Open+Sans');

html, body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Fresca', sans-serif;
}


.title {
  font-size: 1.75rem;
  color: #346;
  font-weight: normal;
}
h3 {
  font-size: 1.5rem;
}

.navbar {
  font-size: 1.1rem;
  h1.title {
    font-weight: bold;
    color: rgb(32, 156, 238);
    font-size: 2rem;
  }
  a {
    color: rgb(32, 156, 238);
    font-weight: bold;
    //color: #3273dc;
  }
}

a {
  color: rgb(32, 156, 238);
}