@import url('https://fonts.googleapis.com/css?family=Fresca|Open+Sans');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

@import './colors.scss';

@import "../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../node_modules/bulma/sass/utilities/functions";

$primary: $color-primary-0;
$info: $color-primary-1;

@import '../../node_modules/bulma/bulma';

html, body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Fresca', sans-serif;
}

.title {
  font-size: 1.75rem;
  color: $color-primary-4;
  //color: $color-secondary-2-3;
  font-weight: normal;
}

.hero.is-info.is-bold {
  background-image: linear-gradient(141deg, $color-primary-1 0%, $color-primary-2 31%, $color-primary-1 100%);
  //background-image: linear-gradient(141deg, $color-secondary-2-1 0%, $color-secondary-2-2 31%, $color-secondary-2-3 100%);
  //background-image: linear-gradient(141deg, $color-complement-1 0%, $color-complement-2 31%, $color-complement-3 100%);
}


h3 {
  font-size: 1.5rem;
}

.navbar {
  font-size: 1.1rem;
  h1.title {
    font-weight: bold;
    color: $color-primary-1;
    font-size: 2rem;
  }
  a.navbar-item {
    color: $color-primary-2;
    font-weight: bold;
    &:hover {
      color: $color-primary-3;
    }
    &.is-active {
      color: $color-primary-4;
      //color: $color-secondary-2-3;
    }
  }
}

a {
  color: $primary;
}

.container {
  max-width: 1024px;
}

.column {
  padding: 1rem;
}


@media screen and (max-width: 500px) {
  .navbar-brand .navbar-item h1.title {
    font-size: 1.65rem;
  }
}

.hero .hero-body {
  padding: 2.25rem 1.5rem 1rem 1.5rem;

  .slick-dots li {
    button:before {
      color: white;
    }
    &.slick-active button:before {
      color: white;
    }
  }
  .slick-prev {
    left: -35px;
  }
  .slick-next {
    right: -35px;
  }
  .section {
    padding: 1rem 1.5rem;
  }
}

.navbar {
  .navbar-item div.navbar-link {
    font-size: 1rem;
    cursor: default;
    font-weight: bold;
    color: $primary;
  }
}

li > p:last-child {
  margin-bottom: 1.5rem;
}
