$primaryColor: #209cee;

@import url('https://fonts.googleapis.com/css?family=Fresca|Open+Sans');

html, body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Fresca', sans-serif;
}


.title {
  font-size: 1.75rem;
  color: #346;
  font-weight: normal;
}
h3 {
  font-size: 1.5rem;
}

.navbar {
  font-size: 1.1rem;
  h1.title {
    font-weight: bold;
    color: $primaryColor;
    font-size: 2rem;
  }
  a {
    color: $primaryColor;
    font-weight: bold;
    //color: #3273dc;
  }
}

a {
  color: $primaryColor;
}


.hero.is-info.is-bold {
  background-image: linear-gradient(141deg, $primaryColor 0%, #04a6d7 71%, #3287f5 100%);
}

@media screen and (max-width: 500px) {
  .navbar-brand .navbar-item h1.title {
    font-size: 1.65rem;
  }
}

.hero {
  .slick-dots li {
    button:before {
      color: white;
    }
    &.slick-active button:before {
      color: white;
    }
  }
}

.navbar {
  .navbar-item div.navbar-link {
    cursor: default;
    font-weight: bold;
    color: $primaryColor;
  }
}